@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.scrollbar-gray::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-gray::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  outline: solid 2px rgb(243, 244, 246);
  border-radius: 10px;
}

.scrollbar-gray::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.text-logo {
  font-family: 'Lexend Deca', sans-serif;
}

.react-datalist-input__label {
  margin-bottom: 8px;
}

.react-datalist-input__container > * {
  box-sizing: border-box;
}

.react-datalist-input__container {
  width: 100%;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --gray: rgb(200, 200, 200);
  --padding: 8px;
  --border-radius: 5px;
  --border: 1px solid var(--gray);
}

.react-datalist-input__textbox {
  width: 100%;
  margin: 0;
  outline: none;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
}

.react-datalist-input__listbox {
  width: 100%;
  position: absolute;
  margin: 2px 0 0 0;
  padding: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-shadow: var(--shadow);
  z-index: 10;
}

.react-datalist-input__listbox-option {
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: var(--padding);
}

.react-datalist-input__listbox-option:focus {
  background-color: var(--gray);
}

.react-datalist-input__listbox-option:hover {
  background-color: var(--gray);
}

mark {
  background: none;
}