@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-gray::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-gray::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  outline: solid 2px rgb(243, 244, 246);
  border-radius: 10px;
}

.scrollbar-gray::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.text-logo {
  font-family: 'Lexend Deca', sans-serif;
}